.comp_bar_chart{
  padding:20px;
  .graph_bar{
    width:600px;
    height:300px;
    background-color:#1b1d24;
  }
  .graph_info{
    width:600px;
    height:50px;
    line-height:50px;
    text-align:center;
    .txt_info{
      padding:0 10px;
      color:#fff
    }
  }
}