$bgColor: #0D101C;
$mainColor:#FF9352;
$subColor1:#636BFF;
$subColor2:#EF2778;
$subColor3:#696AFF;
$subColor4:#26A3FF;
$subColor5:#4CD964;
$mainFontColor:#e8e8e9;
$subFontColor:#8e9ba9;
$emphColor:#FFC310;