@import 'base';
.app_wrapper{
}

.app_aside{
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
  width:30%;
  top:$headerHeight;
  left:0;
  bottom:0;
  background-color:yellow;
  z-index:900;

}
.app_main{
  overflow:hidden;
  width:70%;
  min-width:800px;
  min-height:100vh;
  margin:0 auto;
  padding-top:$headerHeight;
  background-color: green;
  .app_content{
    height:100%;
    padding:10px;
    background-color: red
  }
  .app_section{
    height:600px;
  }
}


