.comp_project{
  padding: 50px;
  border:1px solid #4286f4;
  
  .tit_project{
    padding: 10px;
    font-size: 30px;
  }
  .ctrl_project{
    padding:10px;
    text-align: right;
    background-color: #efefef;
    .btn_add{
      height:20px;
    }
  }
  .list_project{
    li{
      overflow: hidden;
      position: relative;
      padding:10px;
      border-bottom:1px solid #000;
      .group_btn{
        position: absolute;
        top:10px;
        right:10px;
      }
      .link_project{
        overflow: hidden;
        display: block;
        padding-right:100px;
      }
      .tit_info{
        float: left;
      }
      .group_info{
        float: right;
        .txt_info{
          display: inline-block;
          width:100px;
          margin: 2px;
          background-color: #efefef;
          text-align: center
        }
      }
    }
  }
}