@import '../../../assets/scss/base';

.login_comp{
  .btn_login{
    overflow: hidden;
    width:60px;
    height: 60px;
    border-radius: 50%;
    border:none;
    padding:0;
    img{
      display: block;
      width:100%;
    }
  }
}
