@import '../base';

.side_menu{
  float: left;
  width:220px;
  .user_profile{
    height:200px;    
    background-color: $subColor1;
  }
}
.main{
  display: block;
  overflow: hidden;  
  h1 {
    padding: 20px 0;
    font-size:40px;
  }
}
.loading_screen {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999;
}