.comp_project{
  padding: 50px;
  border:1px solid #4286f4;
  
  .tit_project{
    padding: 10px;
    font-size: 30px;
  }

  .ctrl_project{
    padding:10px;
    text-align: right;
    background-color: #efefef;
    .btn_add{
      height:20px;
    }
  }

  .list_project{
    overflow: hidden;
    li{
      float: left;
      position: relative;
      width:30%;
      height:300px; 
      margin:5% 0;
      background-color:yellow;
      text-align:center;
      box-sizing: border-box;
      border:1px solid red;
      border-radius: 3px;
      
      .group_btn{
        position: absolute;
        top:10px;
        right:10px;
        > button{
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-left:5px;
          border:1px solid red;
          border-radius: 3px;
        }
      }
      .link_project{
        display: block;
        height:100%;
      }
      .group_info{
        height:20%;
      }
    }
    li + li{
      margin-left:5%; 
    }
  }
}