@import '../../assets/scss/base';
.app_main{
  overflow:hidden;  
  min-width:900px;
  min-height:100vh;
  margin-left: 240px;
  padding:100px 40px;  

  .app_section{
    @include comm_box($height:100%, $padding:60px 60px);
    margin-bottom:50px;
  }
}


