@import '../../assets/scss/base';
.app_main{
  overflow:hidden;  
  min-width:900px;
  min-height:100vh;
  margin-left: 240px;
  padding:100px 40px;  
  .app_content{
    @include comm_box($height:100%, $padding:60px 60px)
  }
  .app_section{
    padding-bottom:10px;
  }
}


