@import '../../assets/scss/base';

.comp_project_list{
  padding-top: 48px;
  
  .list_project{
    > li{
      position: relative;
      margin-bottom:10px;
      border:1px solid gray;
    }
    li:hover{
      background-color:gray;
    }
    .card_project{
      height:50px;
      // background-color:gold;
      .txt_state{
        display:block;
        height:100%;
        width:2%;
        color:#fff;
      }
      .done{
        background-color:green;
      }
      .doing{
        background-color:gold;
      }
      .todo{
        background-color:red;
      }
    }
    .link_project{
      display:block;
      height:100%;
    }
    .group_btn{
      position:absolute;
      top:10px;
      right:10px;
      > button{
        width:30px;
        height:30px;
        border-radius:37%;
      }
      button + button {
        margin-left: 10px;
      }
    }
  }
}
