@import '../../assets/scss/base';

.comp_title_box{
  display: flex;
  margin:0 -60px 50px;
  padding:0 60px 60px;
  border-bottom: 1px solid $borderColor;
  .txt_tit{
    margin-bottom:16px;
    font-weight: normal;
    font-size:34px;
  }
  .txt_desc{
    display: block;
    font-size:15px;   
  }
}