@import '../../assets/scss/base';

.app_header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:50px;
  background-color:$dark;
  z-index:1000;
  text-align:center;
  border-bottom:1px solid $yellow;
  box-sizing:border-box;
  .app_tit{
    position:absolute;
    top:0;
    left:0;
    height:50px;
    padding:0 10px;
    line-height:50px;
  }
}