@import '../../assets/scss/base';

.app_header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:65px;
  padding-right:25px;
  background-color:$bgColor;
  z-index:1000;
  border-bottom:1px solid $borderColor;
  box-sizing:border-box;
  .app_logo{
    overflow: hidden;
    float: left;
    width: 240px;
    height: 65px;
    padding-left:25px;
    border-bottom: 1px solid $borderColor;
    line-height: 65px;
    background: $dark2;
    .img_logo{
      float: left;
      height: 40px;
      margin: 12px 15px 0 0;
    }
    .app_tit{
      display: block;
      overflow: hidden; 
      font-size: 24px;     
    }
  }
}