@import '../../assets/scss/base';

.comp_progress_bar{
  position: relative;
  height: 20px;
  background-color:$gray-dark;
  .bar_progress{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background-color:$pink;
  }
  .txt_progress{
    position:absolute;
    top:0;
    left:0;
    color:$white;
    line-height:20px;
    text-align:right;
  }
}