@import '../../assets/scss/base';

.comp_progress_bar{
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color:$gray-dark;
  .bar_progress{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background-color:$primary;
  }
  .txt_progress{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color:$white;
    font-size: 12px;
    line-height:14px;
    text-align:center;
  }
}